@import "tailwindcss";

:root {
  --background: #f9fafb;
  --foreground: #111827;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, monospace;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

@utility nav-link {
  text-decoration: none;
  color: #4b5563;
  font-weight: 500;
  transition: color 0.2s ease;

  &:hover {
    color: #111827;
  }

  &.active {
    color: #2563eb;
    font-weight: 700;
    border-bottom: 2px solid #2563eb;
    padding-bottom: 4px;
  }
}